.box{
    background-color: red;
    height: 400px;
    width: 650px;
    position: absolute;
}
.box2{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px black solid;
    border-radius: 60px;
    top: 295px;
    left: 50px;
}
.box3{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px black solid;
    border-radius: 60px;
    top: 192px;
    left: 500px;
}